<div class="container mt-4">
  <h1 class="mb-5">NgNET - Angular 15, .NET 7.0, PostgreSQL Docker Application</h1>
  <a routerLink="/product-create" class="btn btn-primary mb-3">Create</a>
  <table class="table table-striped">
    <thead class="table-primary">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td class="text-end">
          <button class="btn btn-warning btn-sm me-1" (click)="editProduct(product.id)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="setProductIdToDelete(product.id)" data-bs-toggle="modal"
            data-bs-target="#deleteModal">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
          <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete product ID {{ selectedProductId }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
