<div class="container mt-4">
  <h1 class="mb-5">NgNET - Angular 15, .NET 7.0, PostgreSQL Docker Application</h1>
  <a routerLink="/product-create" class="btn btn-primary mb-3">Create</a>
  <table class="table table-striped">
    <thead class="table-primary">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ss</td>
        <td>a</td>
        <td>c</td>
        <td>cdd</td>
        <td class="text-end">
          <button class="btn btn-warning btn-sm me-1">Edit</button>
          <button class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
